.header {
  padding: 20px;
}
.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLink {
  color: var(--main);
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 200ms ease;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.navLink:hover,
.navLink:focus {
  filter: hue-rotate(45deg);
  transform: translate(-3px, -3px);
}
