.react-datepicker__month-container {
  background-color: #ffffff;
  padding: 0 16px 16px 16px;
}
.react-datepicker__navigation-icon--next::before,
.react-datepicker__navigation-icon--previous::before {
  border-color: var(--text);
  border-width: 2px 2px 0 0;
}

.react-datepicker__current-month {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--main);
  margin-bottom: 20px;
}
.react-datepicker__day-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: var(--text);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.react-datepicker__month {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--main);
}
.react-datepicker__portal .react-datepicker__day {
  width: 41px;
  height: 32px;
  text-align: center;
}
.react-datepicker__header {
  border: none;
  background-color: #ffffff;
}
