.section {
  width: 888px;
}

.cardWrapper {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
