:root {
  --button: #e44848;
  --main: #101828;
  --inputs: #f7f7f7;
  --block-features: #f2f4f7;
  --rating: #ffc531;
  --text: #475467;
  --font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('./fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./fonts/Inter-SemiBold.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::after,
::before {
  display: inline-block;
}
button {
  cursor: pointer;
  color: var(--main);
  border: none;
  background: none;
}
body {
  padding: 0 64px;
  color: var(--main);
  line-height: 1;
  font-family: 'Inter', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
ol,
ul {
  list-style: none;
}

/** -----------------------------LOADER-----------------------------**/

.loader {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: 45%;
  left: 45%;
  border: 8px solid;
  border-color: #101828 #101828 transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid;
  border-color: transparent #e44848 #e44848;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
